body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}
.info.legend {
  padding: 6px 8px;
  font: 10px Arial, sans-serif;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  color: #555;
  width: 60px; /* Adjust width as necessary */
}

.info.legend ul {
  list-style: none;  // Removes bullet points
  padding: 0;
  margin: 0;
}

.info.legend li {
  padding: 6px;
  margin: 2px 0;
  background-color: #FFF;
  text-align: left;
  border: 1px solid #DDD; /* Adds a subtle border to each color block */
}